<%- include header %>
<form action="/addnote"  method="post">
  标题：<br />
  <input type="text" name="title1" size="105px" /><br />
  正文：<br />
  <textarea name="content" rows="30" cols="75"></textarea><br />
  <input type="submit" value="发表" />
</form>
<%- include footer %>
