<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>

<link rel="stylesheet" href="/stylesheets/leanotemark.css">
<link rel="stylesheet" href="/stylesheets/font-awesome.css">
<link rel="stylesheet" href="/stylesheets/public-share-note.css">
<link rel="stylesheet" href="/stylesheets/share_comment.css">

<!-- 增加TOC样式-->

<link rel="stylesheet" href="/stylesheets/marktoc.css">

</head>
<body>

<header>
<h1><%-filetitle %></h1>
</header>

<%- markdoc %>



</body>
</html>
