<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>

<link rel="stylesheet" href="/stylesheets/leanotemark.css">
<link rel="stylesheet" href="/stylesheets/font-awesome.css">
<link rel="stylesheet" href="/stylesheets/public-share-note.css">
<link rel="stylesheet" href="/stylesheets/share_comment.css">

<!-- 增加TOC样式-->
<link rel="stylesheet" href="/stylesheets/marktoc.css">

<!-- 增加mathjax -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({ tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>


</head>
<body>

<header>
<h1><%-filetitle %></h1>
</header>

<%- markdoc %>



</body>
</html>
